.home{
  padding: 0px 20px;
}

.header button {
  font-size: 16px;
}

.bg-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.home-bg{
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.greeting {
  font-family: "Inter", sans-serif;
  font-size: 5vw;
  color: white;
  position: absolute;
  /* white-space: nowrap; */
}

.home-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding-bottom: 20px;
  width:80%;
  margin:auto;
  flex-wrap:wrap;
}

/* @media (min-width: 600px) { */
  .home-buttons div {
    width:320px;
    display:flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    border-radius: 30px;
    margin-top:-40px;
  }
/* } */

.schedule:hover, .rentals:hover, .settings:hover{
  transform:scale(1.05);
}

.home-buttons-text-container{
  border-radius: 30px;
  /* cursor: pointer; */
  text-align: center;
  padding: 8px 16px;
  transition: background-color 0.2s;
  background-color: #F1F6FF;
  height:370px;
}

.home-buttons-text-container:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.home-buttons-text-container > *{
  position:relative;
  top:90px;
}

.home-buttons h3 {
  font-size: 24px;
  margin: 20px 0px;
}

.home-buttons p{
  color: #4A4A4A;
}

.home-buttons-text-container button{
  width:200px;
  height:50px;
  background-color: #273144;
  border-radius:50px;
  color: white;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  position: relative;
  top:50px;
}
.home-buttons-text-container button:hover{
  background-color: #1a1f2b;

}

.home-button-icon{
  width: 100%;
  max-width: 160px;
  position:relative;
  top:50px;
  z-index:1;
  margin-top:0;
  /* margin-bottom: -60px; */
}

.home-buttons div a {
  text-decoration: none;
  color: black;
}

.admin-logo{
  width:60px;
  position:absolute;
  top:25px;
  right:140px;
}

